.h-title {
  color: red;
  margin-left: 600px;
}

.div-up {
  width: 300px;
  margin-left: 500px;
}

.div-middle {
  margin-left: 500px;
  margin-top: 10px;

  a {
    width: 90px;
    margin-right: 11px;
  }
}

.div-down {
  margin-left: 460px;
  width: 340px;

  .li-item {
    list-style: none;
    margin-top: 10px;

    .div-input {
      width: 265px;

      .span-done-true {
        text-decoration: line-through;
        color: gray;
      }
    }

    .div-X {
      float: right;
      margin-top: -35px;
    }
  }
}
